#navbar-custom{
    
    background-color: #1a2a6c;  
    background-image: -webkit-linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);  
    background-image: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c); 

}
.home-panel{

    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 
    position: absolute;
    height: 100%;

}
.pika{
   height:350px;
   padding-top: 0.2cm;
   /* border-radius: 50%;
   box-shadow: 10px 10px 8px 10px ; */
}

.welcome-title{
    color: white ;
    font-size: 65px;
}

/* .home-panel hr{
    border-top: 5px dotted white;
    width: 500%;
    margin:auto;
} */